/* Google Fonts Import -  Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* Common Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.title-clr {
  color: #131313;
}

.title-sub-clr {
  color: #131313;
}

.des-clr-w-lh {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
}

.des-bold-clr {
  color: #424242;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 24px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Header Styles */
header {
  background: #ff900e1a;
  padding: 3.2rem 0;
}

/* Navbar Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-items li {
  list-style: none;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

/* Banner Styles */
.banner-content {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-content p {
  padding: 1.3rem 0;
}
.banner-title {
  font-size: 64px;
  font-weight: 700;
}

.banner-img {
  width: 100%;
  border-radius: 8px;
}

/* Quick Features Styles */
.quick-features {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 3.2rem 0;
}

.features-img {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.features-content {
  width: 40%;
}

.features-img img {
  border-radius: 5px;
  width: 100%;
}

.features-title {
  font-size: 45px;
  font-weight: 500;
}

.features-title span {
  color: #727272;
}

.features-title .features-title-text {
  color: #ff900e;
  font-weight: 700;
}

.features-content p {
  padding: 1.3rem 0;
}

/* Features Service Styles */
.features-service {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.features-service-content {
  width: 50%;
}

.features-service-img {
  width: 50%;
}

.features-service-img img {
  width: 100%;
}

.features-service-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.features-service-content p {
  padding: 1rem 0;
}

.features-service-box {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px#0000000f;
  padding: 1.8rem 2.5rem;
  margin: 1rem 0;
}

.features-service-box h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Portfolio Facts */
.portfolio-facts {
  padding: 3rem 0;
}

.portfolio-facts h4 {
  font-size: 45px;
  font-weight: 700;
}

.portfolio-facts-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.portfolio-facts-card {
  display: inline-block;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  padding: 1.5rem 1.5rem;
  text-align: center;
}

.portfolio-facts-card strong {
  color: #424242;
  font-size: 2.9rem;
  font-weight: 600;
  padding: 0.4rem 0;
  display: block;
}

.portfolio-facts-card p {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600px;
}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  nav {
    flex-direction: column;
    gap: 1.25rem;
  }

  /* Features Styles */
  .quick-features {
    flex-direction: column-reverse;
  }

  .features-img,
  .features-content {
    width: 100%;
  }

  /* Features Service Styles */
  .features-service {
    flex-direction: column;
  }

  .features-service-content,
  .features-service-img {
    width: 100%;
  }

  /*  */
  .portfolio-facts-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
